The creation of the world.

Adam: a wise man.
Eve: a thug.

SCENE I: God creates the world.

ACT I: Adam and Eve.

Adam: Thou art a nice woman; but dont let the serpent foil you.
Eve: Remember thyself; as it will be you.

ACT II: The serpent.

Adam: Eve is a cute nice beautiful woman.

SCENE II: bla.

ACT I: X.

Adam: I recall; your body.


