(\f : Int -> Int . f 5) (\i : Int . i + 1)
42
1 + 2
(If True Then True Else True) :: Bool
True
(False)
True :: Bool
If True Then 42 Else 43
If False Then 23 Else 44
5 + 6
5 + 6 + 7
(\x : Int . x + 1) 5
If If True Then False Else True Then 123456 Else 42
5 + 6 + 7
5 + (6 + 7)
(5 + 6) + (7 + 8)
5 + (6 + (7 + 8))
(\x : Int . x + 1) True
