 Rules
=======

	x: T in $
(Tx)   ----------- 
	$ |- x: T

	
(Tn)   ----------------
	$ |- 0.. : Nat

	
(TbT)   ------------------
	$ |- True : Bool


	
(TbF)  ------------------
	$ |- False: Bool

	$ |- t1 : T1	$ |- t2: T2	T2 == dom(T1)
(Tapp) -----------------------------------------------
	$ |- t1 t2 : cod(T1)
	
	
	
